# Node dependencies
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local
# React / build files
build/
dist/

# Firebase secrets
*serviceAccount*.json

# Logs
npm-debug.log*
yarn-error.log*

# OS files
.DS_Store
# Firebase admin keys
firebaseServiceAccount*.json
Thumbs.db