# Node dependencies
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local
# React / build files
build/
dist/

# Firebase secrets
*serviceAccount*.json

# Logs
npm-debug.log*
yarn-error.log*

# OS files
.DS_Store
# Firebase admin keys
firebaseServiceAccount*.json
Thumbs.db
uploads/

# Backend
educonnect-backend/node_modules/
educonnect-backend/uploads/
educonnect-backend/.env

# Frontend
educonnect-frontend/node_modules/
educonnect-frontend/.env

# Common
*.log
.DS_Store
~$*.docx