* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.auth-wrapper {
  display: flex;
  min-height: 100vh;
}

/* LEFT SIDE (LOGIN / SIGNUP) */
.auth-left {
  width: 35%;
  background: #0f0f0f;
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-left h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.auth-left p {
  color: #aaa;
  margin-bottom: 30px;
}

.auth-left input {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.auth-left button {
  padding: 12px;
  background: #8b5cf6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.switch-text {
  margin-top: 20px;
}

.switch-text span {
  color: #8b5cf6;
  cursor: pointer;
}

/* RIGHT SIDE (PURPLE PANEL) */
.auth-right {
  width: 65%;
  background: #9b6df3;
  color: white;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-right h1 {
  font-size: 48px;
  font-weight: bold;
}

.auth-right h2 {
  font-size: 42px;
  font-weight: 300;
}

.auth-right p {
  margin-top: 15px;
  opacity: 0.9;
}
